.cookies-section {
  margin-top: -5rem;
}

.cookies-section .hero-cookis {
  background: url(/images/pattern.webp) no-repeat;
  background-size: cover;
  padding-top: 109px;
  height: 500px;
}

.hero-cookis .hero-container {
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.hero-cookis .hero-container h1 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  font-weight: 600;
  font-size: 40px;
  margin-top: 3.5rem;
}
.cookies-section .main-conatiner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 11%;
  padding-left: 11%;
}
.cookies-section .bg {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 6rem;
  padding-right: 6rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-radius: 0.5rem;
  margin-top: -15rem;
}
.cookies-section .bg .h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cookies-section .bg-p {
  line-height: 37px;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cookies-section .jeton-bank-h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
