.multi-currency-main {
  margin-top: -5rem;
}

.multi-currency-main .account-bg {
  position: relative;
  padding-top: 109px;
  max-height: 55rem;
}
.multi-currency-main .account-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
}

.multi-currency-main .account-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.multi-currency-main .account-main-contend {
  display: flex;
  text-align: center;
  padding-top: 92px;
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}
.multi-currency-main .account-h1 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  line-height: 72px;
  font-weight: 700;
  font-size: 64px;
}

.multi-currency-main .account-p {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1));
  line-height: 27px;
  font-size: 20px;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
}

.multi-currency-main .account-a {
  display: inline-block;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(72 136 251 / var(--tw-bg-opacity, 1));
  padding: 14px 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.multi-currency-main .account-picture {
  min-height: 732px;
}

.account-picture .account-imgs {
  width: 100%;
}

.account-picture .account-imgss {
  max-width: 973px;
  width: 100%;

  margin: 0 auto;
}

.multi-currency-main .mange-senior-section {
  background: linear-gradient(
      102.99deg,
      rgba(0, 0, 0, 0.2) 7.58%,
      transparent 84.74%
    ),
    linear-gradient(0deg, #131e3d, #131e3d);
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  margin-top: 12rem;
}


