/* .container-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
} */

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}
.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1));
}

.sign-up-create {
  display: inline-block;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(72 136 251 / var(--tw-bg-opacity, 1));
  padding: 14px 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
