.term-of-use-section {
  margin-top: -5rem;
}

.term-hero {
  background: url(/images/pattern.webp) no-repeat;
  background-size: cover;
  padding-top: 109px;
  height: 500px;
}
.term-of-use-section .container-term {
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.term-of-use-section .h1-term {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  font-weight: 600;
  font-size: 40px;
  margin-top: 3.5rem;
}

.term-of-use-section .container-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 11%;
  padding-left: 11%;
}

.term-of-use-section .bg-container {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 6rem;
  padding-right: 6rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-radius: 0.5rem;
  margin-top: -15rem;
}

.term-of-use-section .p-bg {
  line-height: 2.2rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.term-of-use-section .h3-bg{
    font-weight: 600;
        font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}