@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --100vw: calc(100vw - var(--sbw, 0px));
  --viewport-margin: clamp(8px, 7.415px + 100vw * 0.0015, 10px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* font-family: Sequel Sans, arial, "sans-serif"; */
  font-style: normal;
  font-weight: 400;
  color: #f73b20;
  line-height: 1;
}

.nav-click {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: all 0.28s cubic-bezier(0.22, 1, 0.36, 1);
}

.ripple {
  position: absolute;
  background: rgba(17, 20, 177, 0.22);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-effect 0.55s ease-out forwards;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@media (min-width: 40rem) {
    .sm\:mt-10 {
        margin-top: calc(var(--spacing) * 0);
    }
}



/* body{
  background-color: #001845;
  color: #FFFFFF;
} */