._common_header {
  position: relative;
  overflow: hidden;
}

._common_header ._background {
  position: absolute;
  background-color: #f73b20;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

._common_header video {
  opacity: 0;
  transition: opacity 1.4s ease-out;
}

._common_header video.show {
  opacity: 1;
}

._video-asset {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  width: auto;
  object-fit: cover;
}

._common_header .main-row {
  min-height: 100vh;
  min-height: 100svh;
  padding-bottom: 12rem;
  padding-top: 10rem;
}

._common_header .g-row {
  color: #fff;
  flex-flow: wrap;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  /* padding-right: 46%; */
  display: flex;
  position: relative;
}

._grow-main-col {
  flex: 1 1 0px;
  min-width: auto;
  /* padding-left: 1rem;
  padding-right: 80%; */
}

._xxl-8 {
  flex: 0 0 50%;
  max-width: 50%;
}

._oneAppsForNeedsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title-2 {
  font-size: 6.2rem;
  letter-spacing: 0;
  line-height: 1;
  font-weight: 600;
}

[data-split-text] {
  display: inline-block;
  text-indent: 0;
  white-space: pre-wrap;
}

[data-split-text] .w {
  white-space: pre;
}

[data-split-text] .c,
[data-split-text] .f,
[data-split-text] .w {
  display: inline-block;
}

[data-split-text] .w:not(:first-child) {
  text-indent: 0;
}

[data-split-text][data-clip="chars"] .c,
[data-split-text][data-clip="fragments"] .f,
[data-split-text][data-clip="lines"] .l,
[data-split-text][data-clip="words"] .w {
  margin-bottom: -0.15em;
  overflow: hidden;
  padding-bottom: 0.15em;
  vertical-align: bottom;
}

.t {
  will-change: transform;
} 

.lang-cta-wrapper .ml-1 {
  font-weight: 700;
  font-size: 1rem;
}

._icon svg {
  cursor: pointer;
}

._xxl-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.xx-offset {
  margin-left: 20.75%;
  margin-bottom: 3.5rem;
}

.subhead-2 {
  letter-spacing: 0.01em;
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}

.btn {
  margin-top: 2rem;
  gap: 1.2rem;
  display: flex;
}


[data-button][data-tone="orange"][data-variant="outline"] {
  --color: white;
}
[data-button][data-tone="orange"] {
  --color: #fff;
  --background-color: white;
}

._app-button[data-button] {
  display: inline-block;
  height: 44px;
  position: relative;
  width: 148px;
}

[data-button] {
  width: max-content;
  --height: 48px;
  align-items: center;
  border-radius: 12px;
  display: inline-flex;
  gap: 8px;
  height: var(--height);
  justify-content: center;
  padding: 0 24px;
}

.btn a {
  color: inherit;
  text-decoration: none;
}
 [data-button-background] {
  -webkit-backdrop-filter: unset !important;
  backdrop-filter: unset !important;
}

[data-button] > [data-button-background] {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: inheit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.btn .outline {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
      border-radius: 7px;
}
._app-button[data-button] img {
  z-index: 1;
}

.btn .imgess {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
