.multi-currency-main {
  margin-top: -5rem;
}

.multi-currency-main .account-bg {
  position: relative;
  padding-top: 109px;
  max-height: 55rem;
}
.multi-currency-main .account-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
}

.multi-currency-main .account-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.multi-currency-main .account-main-contend {
  display: flex;
  text-align: center;
  padding-top: 92px;
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}
.multi-currency-main .account-h1 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  line-height: 72px;
  font-weight: 700;
  font-size: 64px;
}

.multi-currency-main .account-p {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1));
  line-height: 27px;
  font-size: 20px;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
}

.multi-currency-main .account-a {
  display: inline-block;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(72 136 251 / var(--tw-bg-opacity, 1));
  padding: 14px 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.multi-currency-main .account-picture {
  min-height: 732px;
}

.account-picture .account-imgs {
  width: 100%;
}

.account-picture .account-imgss {
  max-width: 973px;
  width: 100%;

  margin: 1.8rem auto;
}

.multi-currency-main .manage-linear {
  background: linear-gradient(
      102.99deg,
      rgba(0, 0, 0, 0.2) 7.58%,
      transparent 84.74%
    ),
    linear-gradient(0deg, #131e3d, #131e3d);
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
}

.multi-currency-main .spy-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  margin-top: 12rem;
}

.multi-currency-main .manage-page-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.multi-currency-main .max-wi {
  max-width: 1450px !important;
}

.multi-currency-main .divide-2-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  position: relative;
  z-index: 10;
}

.multi-currency-main .global-transactions {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  line-height: 3.2rem;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.multi-currency-main .global-transactions-image {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  border-bottom-width: 1px;
  border-color: #4888fb3d;
  padding-bottom: 2rem;
}

.multi-currency-main .global-transactions-bg {
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(25 39 78 / var(--tw-bg-opacity, 1));
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  min-width: 102px;
  min-height: 102px;
}

.multi-currency-main .competitive-title {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  line-height: 39px;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 0.5rem;
}

.multi-currency-main .enhance-text {
  --tw-text-opacity: 1;
  color: rgb(91 111 139 / var(--tw-text-opacity, 1));
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.multi-currency-main .competitive-imges {
  max-width: 523px;
  width: 100%;
}

.multi-currency-main .fx-rates {
  margin-top: 1rem;
}

.faq-container {
  /* max-width: 900px; */
  margin: 5rem auto;
  padding: 0 20px;
  
}

/* .faq-item {
  border-top: 1px solid #e5e7eb;
}

.faq-item:last-child {
  border-bottom: 1px solid #e5e7eb;
} */

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
  transition: background 0.2s ease;
}

/* .faq-question:hover {
  background: rgba(15, 23, 42, 0.03);
} */

.faq-icon {
  font-size: 22px;
  font-weight: 600;
  color: #0d2b4a;
  transition: transform 0.2s ease;
}

.faq-question.open .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff;
  padding: 0 10rem;
}

.faq-answer p {
  margin: 12px 0 20px;
  color: #6b7280;
  line-height: 1.6;
  font-size: 15px;
}


/* @media (max-width: 640px) {
  .faq-question {
    font-size: 16px;
    padding: 18px 10px;
  }
  .faq-answer p {
    font-size: 14px;
  }
} */
